<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: intorscreen.html
  Description: Intro screen view
  Created On: 10/Dec/2025
  ------------------------------------------------------------
-->

<div id="intro-screen">

    <!-- TITLE + SOUND -->
    <div class="title-audio-wrapper">
        <img class="intro-title" src="assets/images/introscreen/title-introduction.svg" />
        <img id="soundBtn" src="assets/images/common/audio-off.svg" />
    </div>

    <!-- MAIN WHITE CONTAINER -->
    <div class="intro-box">

        <div class="content-grid">
            <!-- PARALLEL LINES -->
            <div class="content-col">
                <div class="section-title fade-in" style="--d:0.2s">Parallel lines</div>
                <div class="section-desc fade-in" style="--d:0.4s">
                    Parallel lines are those that never intersect and are always the same distance apart.
                </div>
                <!-- Diagram -->
                <div class="diagram-img">
                    <img class="w-38 fade-in" style="--d:0.6s" src="assets/images/introscreen/parallel-lines1.svg" />
                    <img class="w-38 fade-in" style="--d:0.8s" src="assets/images/introscreen/parallel-lines2.svg" />
                </div>
                <div class="example-title fade-in" style="--d:1.0s">Example</div>
                <!-- Example Images -->
                <div class="example-stack">
                    <div class="example-img">
                        <img class="w-9 fade-in" style="--d:1.2s" src="assets/images/introscreen/parallelL-eg1.svg" />
                    </div>
                    <div class="example-img">
                        <img class="parallelL-eg2 fade-in" style="--d:1.4s" src="assets/images/introscreen/parallelL-eg2.svg" />
                    </div>
                    <div class="example-img">
                        <img class="parallelL-eg3 fade-in" style="--d:1.6s" src="assets/images/introscreen/parallelL-eg3.svg" />
                    </div>
                </div>
            </div>

            <!-- PERPENDICULAR LINES -->
            <div class="content-col">
                <div class="section-title fade-in" style="--d:1.8s">Perpendicular lines</div>
                <div class="section-desc fade-in" style="--d:2.0s">
                    Perpendicular lines are those that always intersect each other at right angles.
                </div>

                <div class="diagram-img">
                    <img class="w-50 fade-in" style="--d:2.2s" src="assets/images/introscreen/perpendicular-lines1.svg" />
                    <img class="w-23 fade-in" style="--d:2.4s" src="assets/images/introscreen/perpendicular-lines2.svg" />
                </div>

                <div class="example-title fade-in" style="--d:2.6s">Example</div>

                <div class="example-row">
                    <div class="example-img small top-94">
                        <img class="fade-in" style="--d:2.8s" src="assets/images/introscreen/perpendicularL-eg1.svg" />
                    </div>
                    <div class="example-img small">
                        <img class="fade-in" style="--d:3.0s" src="assets/images/introscreen/perpendicularL-eg2.svg" />
                    </div>
                    <div class="example-img small top-121">
                        <img class="fade-in" style="--d:3.2s" src="assets/images/introscreen/perpendicularL-eg3.svg" />
                    </div>
                </div>
            </div>

            <!-- TRANSVERSAL LINES -->
            <div class="content-col">
                <div class="section-title fade-in" style="--d:3.4s">Transversal lines</div>
                <div class="section-desc fade-in" style="--d:3.6s">
                    A transversal is a line that intersects at least two other lines.
                </div>

                <div class="diagram-img tall">
                    <img class="w100 fade-in" style="--d:3.8s" src="assets/images/introscreen/transversal-lines.svg" />
                </div>
            </div>

        </div>
    </div>

    <!-- SKIP BUTTON -->
    <img id="skipBtn" class="btn skip-btn fade-in" style="--d:4.0" src="assets/images/introscreen/skip-btn.png" />
</div>