* {
  font-family: 'Raleway';
}
html, body, #intro-screen, .intro-box { overflow: hidden; }

.fade-in {
    opacity: 0;
    /* transform: translateY(10px); */
    animation: fadeIn 1s ease forwards;
    animation-delay: var(--d, 0.8s);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateY(10px); */
    }
    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

.intro-title {
    /* position: absolute; */
    top: 20px;
    left: 215px;
    width: 400px;
    /* transform: translateX(-50%); */
}

#soundBtn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 66px;
    left: 380px;
    cursor: pointer;
}

/* Skip Button */
.skip-btn {
    position: absolute;
    bottom: 40px;
    right: 60px;
    width: 9%;
    cursor: pointer;
}

/* White Box */
.intro-box {
    background: #ffffff;
    padding: 6px 27px;
    border-radius: 18px;
    width: 90%;
    margin: 0%;
    color: #1b2b3a;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 19%;
    bottom: 18%;
}

.maintxt {
    font-size: 36px;
    margin: 10px 0;
    font-weight: 700;
}

.subtext {
    font-size: 27px;
}

.bold-eq {
    font-weight: 700;
    font-size: 28px;
}

.title-audio-wrapper {
    display: inline-block;
    position: relative;
}
  
/* GRID LAYOUT */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  height: 100%;
  padding-top: 10px;
}

/* COLUMN */
.content-col {
  display: flex;
  flex-direction: column;
}

/* TITLES */
.section-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-desc {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 18px;
}

/* DIAGRAM PLACEHOLDER */
.diagram-img {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 155px;
  margin-bottom: 18px;
}

/* Transversal taller diagram */
.diagram-img.tall {
  height: 160px;
}

/* EXAMPLE */
.example-title {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0;
}

.example-stack {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.example-row {
  display: flex;
  gap: 14px;
}

/* IMAGE PLACEHOLDERS */
.example-img {
  width: 100%;
  height: 80px;
}

.example-img.small {
  width: 32%;
  height: 80px;
  position: relative;
}

.parallelL-eg2 {
  width: 73%;
  top: -90px;
  left: 105px;
  position: relative;
}

.parallelL-eg3 {
  width: 80%;
  position: relative;
  left: 89px;
  bottom: -17px;
}

.top-121 {
  top: 121px;
}

.top-94 {
  top: 94px;
}
