<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: challengescreen.html
  Description: challenge screen view
  Created On: 12/Dec/2025
  ------------------------------------------------------------
-->

<div id="challenge-screen">
    <!-- TOP BANNER -->
    <div class="top-banner">
        <span>Study the angle already shown to determine all the missing angles in the setup.</span>
        <div class="sound-wrapper">
            <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="content-area">
        <!-- GRID CANVAS -->
        <div class="grid-board">
            <div class="grid-overlay"></div>
        </div>
    </div>

    <!-- BOTTOM RIGHT BUTTONS -->
    <div class="bottom-right-buttons">
        <div id="challengeResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
        <div id="challengeNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
    </div>
</div>