* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

.content-area {
  position: absolute;
  top: 180px;
  width: 97%;
  left: 28px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  height: calc(100% - 200px);
}

.grid-board {
  background: #fff;
  border-radius: 18px;
  height: 81%;
  width: 100%;
  margin-top: 53px;
  position: relative;
  overflow: hidden;
}

#submitBtn {
  position: absolute;
  left: 43%;
  bottom: 36px;
}

/* Lines draw */
.parallel-line,
.transversal-line {
  stroke: #2c2c2c;
  stroke-width: 3;   /* reduced from 4 */
}

.angle-arc {
  fill: rgba(180, 180, 180, 0.7);
}

.angle-arc.given {
  fill: #f6b3d8;
}

.angle-text {
  font-size: 26px;
  font-weight: 700;
  fill: #000;
}

.angle-input {
  fill: #fff;
  stroke: #b0b0b0;
  stroke-width: 2;
  rx: 10;
}
