@font-face {
  font-family: 'YourFont';
  src: url('../assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
text {
  font-family: 'Raleway-VariableFont_wght';
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.btn {
  cursor: pointer;
  transition: 0.18s ease;
}

.btn:hover {
  transform: scale(1.1);
}

/* COMMON BUTTON BAR */
#common-ui {
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.common-btn {
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  object-fit: contain;
}

.top-btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 38px;
  margin-top: 95px;
}

.music-Btn-div {
  width: 4%;
  bottom: 43px;
  left: -1px;
  position: absolute !important;
}

.music-btn {
  position: relative;
}

#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 130px;
  z-index: 10;
}

/* Logo Button */
.logo-btn {
  position: absolute;
  top: 0px;
  left: 1680px;
  /* padding: 20px 50px; */
  border-radius: 18px;
  font-size: 38px;
  font-weight: 800;
  color: #000;
  cursor: pointer;

}

/* Bottom copyright text */
.copyright-txt {
  position: absolute;
  bottom: 6px;
  right: 7px;
  width: 29%;
  cursor: pointer;
}

/* BUtton tooltip */
.tooltip-btn {
  position: relative;
  display: inline-block;
}

/* Tooltip bubble */
.tooltip-text {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
  z-index: 999;
}

/* Arrow */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}

/* Show on hover */
.tooltip-btn:hover .tooltip-text {
  opacity: 1;
}


/* ---------------- RIGHT BOTTOM BUTTONS ---------------- */
.bottom-right-buttons {
  position: absolute;
  right: 40px;
  bottom: 25px;
  display: flex;
  gap: 40px;
}

.bottom-right-buttons div {
  transition: transform 0.25s ease;
}

.bottom-right-buttons div:hover {
  transform: scale(1.1);
}

.bottom-right-buttons img {
  width: 140px;
}

/* Title banner */
.title-banner {
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 16px 9px;
  border-radius: 18px;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  z-index: 2;
}

.custom-title {
  background: #ff5b22;
  box-shadow: 0 12px 0 rgba(0, 0, 0, 0.3);
}

/* --- TOP BANNER --- */
.top-banner {
  position: absolute;
  top: 15px;
  left: 30%;
  transform: translateX(-50%);
  width: 1000px;
  background: #ed6d2f;
  padding: 28px 40px;
  border-radius: 22px;
  font-size: 38px;
  font-weight: 600;
  color: white;
  box-shadow: 0px 8px 0 #b6481a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sound-wrapper {
  position: absolute;
  right: -38px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.sound-btn {
  width: 80px;
  cursor: pointer;
}

.mute-tag {
  background: rgba(0, 0, 0, 0.45);
  padding: 6px 14px;
  border-radius: 12px;
  margin-top: 6px;
  font-size: 22px;
  color: white;
}


.w100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-38{
  width: 38%;
}
.w-23 {
  width: 23%;
}
.w-9 {
  width: 9%;
}

.disp-flex-row {
  display: flex; 
  flex-direction: row; 
  gap: 8px;
}

.disp-flex-column {
  display: flex; 
  flex-direction: column; 
  gap: 8px;
}

/* Paper style css */
.paper-style {
  position: absolute;
  bottom: 12px;
  right: 14px;
  /* background: rgba(255,255,255,0.9); */
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}

/* Custom Checkbox */
.option-card {
  position: absolute;
  top: 22px;
  left: 22px;
  display: inline-block;
  padding: 4px 18px;
  border: 2px solid #bdbdbd;
  border-radius: 14px;
  background: #fff;
  font-family: Arial, sans-serif;
}

/* Each row */
.custom-option {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 13px 0;
  cursor: pointer;
}

/* Hide native radio */
.custom-option input {
  display: none;
}

/* Custom square box */
.custom-box {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  border: 2px solid grey;
  background: #fff;
  position: relative;
  box-sizing: border-box;
}

/* Checked state */
.custom-option input:checked + .custom-box {
  background: #000;
  border-color: #000;
}

/* Tick mark */
.custom-option input:checked + .custom-box::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Text */
.option-text {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}