@font-face {
  font-family: 'YourFont';
  src: url('../assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
text {
  font-family: 'Raleway-VariableFont_wght';
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.btn {
  cursor: pointer;
  transition: 0.18s ease;
}


/* COMMON BUTTON BAR */
#common-ui {
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.common-btn {
  position: relative;
  top: 11%;
  left: 87%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  object-fit: contain;
}

.music-btn {
  width: 4%;
  position: absolute;
  left: -1px;
  bottom: 2%;
}

#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 130px;
  z-index: 10;
}

/* Logo Button */
.logo-btn {
  position: absolute;
  top: 22px;
  right: 0px;
  /* padding: 20px 50px; */
  border-radius: 18px;
  font-size: 38px;
  font-weight: 800;
  color: #000;
  cursor: pointer;

}

/* Bottom copyright text */
.copyright-txt {
  position: absolute;
  bottom: 6px;
  right: 7px;
  width: 29%;
  cursor: pointer;
}

/* ---------------- RIGHT BOTTOM BUTTONS ---------------- */
.bottom-right-buttons {
  position: absolute;
  right: 40px;
  bottom: 25px;
  display: flex;
  gap: 40px;
}

.bottom-right-buttons div {
  transition: transform 0.25s ease;
}

.bottom-right-buttons div:hover {
  transform: scale(1.1);
}

.bottom-right-buttons img {
  width: 140px;
}

/* Title banner */
.title-banner {
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 16px 9px;
  border-radius: 18px;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  z-index: 2;
}

.custom-title {
  background: #ff5b22;
  box-shadow: 0 12px 0 rgba(0, 0, 0, 0.3);
}

/* --- TOP BANNER --- */
.top-banner {
  position: absolute;
  top: 15px;
  left: 30%;
  transform: translateX(-50%);
  width: 1000px;
  background: #ed6d2f;
  padding: 28px 40px;
  border-radius: 22px;
  font-size: 38px;
  font-weight: 600;
  color: white;
  box-shadow: 0px 8px 0 #b6481a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sound-wrapper {
  position: absolute;
  right: -38px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.sound-btn {
  width: 80px;
  cursor: pointer;
}

.mute-tag {
  background: rgba(0, 0, 0, 0.45);
  padding: 6px 14px;
  border-radius: 12px;
  margin-top: 6px;
  font-size: 22px;
  color: white;
}

/* ---------------- Popup Layer ---------------- */
#popup-layer {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 30;        /* BELOW common-ui (z=50) but ABOVE app */
  pointer-events: none;
}

/* OVERLAY */
.popup-overlay {
  position: fixed;
  inset: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  flex-direction: column;
  overflow: hidden; /* avoid scrollbars */
}

.popup-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: -1;
}

.popup-overlay * {
  pointer-events: auto;    /* popup elements clickable */
}

.popup {
  pointer-events: auto;
}

/* ============================= */
/* GREEN INFO POPUP              */
/* ============================= */

.info-popup {
  background: #22B573;
  padding: 28px 20px;
  border-radius: 32px;
  width: 70%;
  max-width: 850px;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  pointer-events: auto;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.28);
}

.info-text {
  font-size: 61px;
  font-weight: 700;
  line-height: 1.3;
  text-shadow: 2px 4px 1px rgba(0, 0, 0, 0.5);
}

.info-btn {
  background: none;
  border: none;
  padding: 18px 46px;
  font-size: 50px;
  border-radius: 18px;
  cursor: pointer;
  color: #FFD933;
  transition: 0.2s;
}

.info-btn:hover {
  transform: scale(1.05);
}


/* ============================= */
/* GREAT WORK POPUP (EGG SHAPE)  */
/* ============================= */

.greatwork-popup {
  width: 800px;
  height: 800px;
  background-image: url("../assets/images/common/great-work.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 30px 60px;
  text-align: center;
  pointer-events: auto;
  font-family: 'Poppins', sans-serif;
}

.greatwork-popup .title {
  font-size: 100px;
  font-weight: 900;
  line-height: 0.8;
  color: #00DF7C;
  text-shadow: 5px 6px 0 #000;
  margin-bottom: 25px;
  transform: translateY(-20px);
}

.greatwork-popup .content p {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.greatwork-popup h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 10px 0 20px;
}

.gw-btn-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 89%;
}

.gw-btn {
  position: absolute;
  cursor: pointer;
}

.reset {
  left: 46.3%;
  bottom: 12%;
  width: 137px;
}

.play {
  left: 31.4%;
  bottom: 16.5%;
  width: 136px;
}

.next {
  right: 31%;
  bottom: 17%;
  width: 164px;
}
