<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: menu.html
  Description: menu view
  Created On: 10/Dec/2025
  ------------------------------------------------------------
-->

<div>
  <div class="title-banner">
    <img src="assets/images/menu/heading.png" />
  </div>

  <div class="cards-row">
    <div class="card" id="intro-card">
      <img src="assets/images/menu/text-intro.svg" class="icon" />
    </div>

    <div class="card" id="discover-card">
      <img src="assets/images/menu/text-discover.svg" class="icon" />
    </div>

    <div class="card" id="diy-card">
      <img src="assets/images/menu/text-do-it.svg" class="icon" />
    </div>
  </div>
</div>