<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: intro.html
  Description: intro view
  Created On: 10/Dec/2025
  ------------------------------------------------------------
-->

<div id="intro-screen">
  <img src="assets/images/intro/text-maths.png" class="intro-title-maths">
  <img src="assets/images/intro/text-simulations.png" class="intro-title-sim">
  <img src="assets/images/intro/heading.png" class="intro-title-types">
  <img src="assets/images/intro/boy-girl.svg" class="intro-boy">
  <img src="assets/images/intro/btn-play.png" class="btn intro-play-btn">
</div>