<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: discovermenu.html
  Description: discover menu
  Created On: 10/Dec/2025
  ------------------------------------------------------------
-->

<div>
  <div class="title-audio-wrapper" style="--d:0s; display: inline-block; position: relative;">
    <img class="intro-title" src="assets/images/discovermenu/simulation-heading.svg">
    <img id="soundBtn" src="assets/images/common/audio-off.svg"
      style="position: absolute; right: 0px; top: 50%; transform: translateY(-50%); width: 60px; height: 66px; left: 380px;cursor: pointer;">
  </div>

  <div class="cards-row">
    <div class="card" id="easyCard">
      <div class="card-inner">
        <img class="card-bg" src="assets/images/discovermenu/easy-box.svg" />
        <img class="card-icon" src="assets/images/discovermenu/easy-icon.svg" />
        <img class="card-name" style="width: 30%;" src="assets/images/discovermenu/easy.png" />
      </div>
    </div>
    <div class="tooltip-wrapper easy" data-open-sound="easyDiscover" data-close-sound="click">
      <img class="tooltip-icon" src="assets/images/discovermenu/tooltip-icon.svg" />
      <div class="tooltip-img">
        <img class="tooltip-sound btn" src="assets/images/common/audio-off.svg" alt="sound" />
        <img class="tooltip-close btn" src="assets/images/discovermenu/cross-icon.png" alt="Close" />
        <img src="assets/images/discovermenu/easy-txt.svg" />
      </div>
    </div>
    <div class="card" id="warmUpCard">
      <div class="card-inner">
        <img class="card-bg" src="assets/images/discovermenu/warmup-box.svg" />
        <img class="card-icon" src="assets/images/discovermenu/warmup-icon.svg" />
        <img class="card-name" src="assets/images/discovermenu/warmup.png" />
      </div>
    </div>
    <div class="tooltip-wrapper warmup" data-open-sound="warmUpDiscover" data-close-sound="click">
      <img class="tooltip-icon" src="assets/images/discovermenu/tooltip-icon.svg" />
      <div class="tooltip-img">
        <img class="tooltip-sound btn" src="assets/images/common/audio-off.svg" alt="sound" />
        <img class="tooltip-close btn" src="assets/images/discovermenu/cross-icon.png" alt="Close" />
        <img src="assets/images/discovermenu/warmup-txt.svg" />
      </div>
    </div>

    <div class="card" id="challengeCard">
      <div class="card-inner">
        <img class="card-bg" src="assets/images/discovermenu/challenge-box.svg" />
        <img class="card-icon" src="assets/images/discovermenu/challenge-icon.svg" />
        <img class="card-name" src="assets/images/discovermenu/challenge.png" />
      </div>
    </div>
    <div class="tooltip-wrapper challenge" data-open-sound="challengeDiscover" data-close-sound="click">
      <img class="tooltip-icon" src="assets/images/discovermenu/tooltip-icon.svg" />
      <div class="tooltip-img">
         <img class="tooltip-sound btn" src="assets/images/common/audio-off.svg" alt="sound" />
        <img class="tooltip-close btn" src="assets/images/discovermenu/cross-icon.png" alt="Close" />
        <img src="assets/images/discovermenu/challenge-txt.svg" />
      </div>
    </div>
  </div>
</div>