<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: easyscreen.html
  Description: easy screen view
  Created On: 11/Dec/2025
  ------------------------------------------------------------
-->

<div id="warmup-screen">
  <!-- TOP BANNER -->
  <div class="top-banner">
    <span>Spin the wheel and identify the types of lines based on the image details.</span>
    <div class="sound-wrapper">
      <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-area1" id="userSelectionArea" style="gap: 30px; opacity: 0;"> 
    <div class="bg-panel">
      <img src="assets/images/warmupscreen/img2.svg" id="selectedImg" style="width: 35%;">
    </div>
    <div class="disp-flex-column">
      <div id="parallelBtn" class="big-btn"><img src="assets/images/warmupscreen/parallel-btn.png" ></div>
      <div id="perpendicularBtn" class="big-btn"><img src="assets/images/warmupscreen/perpendicular-btn.png" ></div>
    </div>
  </div>

  <div class="main-area" id="spinWheelArea" style="opacity: 1;">
    <div class="wheel-container">
      <img src="assets/images/warmupscreen/wheel.svg" class="wheel-img">
      <div class="place-center white-circle"></div>
      <div class="wheel" id="wheel"></div>
      <img src="assets/images/warmupscreen/spin-center.png" class="place-center spin-center">
      <img src="assets/images/warmupscreen/pointer.svg" class="wheel-pointer">
    </div>
  </div>
  

  <!-- BOTTOM RIGHT BUTTONS -->
  <div class="bottom-right-buttons">
    <div id="warmupResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
    <div id="warmupNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
  </div>
</div>