/* ---------------- MAIN CONTENT AREA ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/* LEFT PANEL */
.bg-panel {
    top: 66px;
    height: 690px;
    background: white;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.workspace {
    flex: 1;
    height: 456px;
    background: white;
    border-radius: 22px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.main-area {
    position: absolute;
    top: 250px;
    width: 97%;
    height: 60%;
    left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-container {
    position: relative;
    width: 750px;
    /* same as wheel image */
    height: 750px;
    /* important for perfect centering */
}

.wheel-img {
    width: 100%;
    height: 100%;
    display: block;
}

.spin-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* optional: prevents drag/click issues */
}