/* ---------------- MAIN CONTENT AREA ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/* user selection area */
.main-area1 {
    display: flex;
    width: 100%;
    position: relative;
    top: 208px;
    padding: 20px 40px;
}

.bg-panel {
    height: 720px;
    width: 70%;
    background: white;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workspace {
    flex: 1;
    height: 456px;
    background: white;
    border-radius: 22px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.main-area {
    position: absolute;
    top: 300px;
    height: 60%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-container {
    position: relative;
    width: 750px;
    height: 750px;
}

.wheel-img {
    width: 100%;
    height: 100%;
    display: block;
}

.place-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    /* pointer-events: none; */
}

.spin-center {
    width: 200px;
    cursor: pointer;
}

.white-circle{
    background: white;
    width: 92%;
    height: 92%;
    border-radius: 50%;
}

.wheel {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 3s cubic-bezier(0.17, 0.67, 0.12, 0.99);
}

.slice {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  border-left: 3px solid #cfcfcf;
}

.slice img {
  position: absolute;
  width: 130px; 
  height: 130px;
  top: 16%;
  left: 11%;
  transform: translate(-50%, -50%);
}

.wheel-pointer {
  position: absolute;
  top: -40px;
  left: 50%;
  width: 110px;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;
}
@keyframes pointerBounce {
  0% { transform: translateX(-50%) rotate(0); }
  40% { transform: translateX(-50%) rotate(-12deg); }
  100% { transform: translateX(-50%) rotate(0); }
}
.pointer-bounce {
  animation: pointerBounce 0.4s ease-out;
}
