/* ---------------- MAIN CONTENT AREA ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/* LEFT PANEL */
.bg-panel {
    top: 66px;
    height: 690px;
    background: white;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.workspace {
    flex: 1;
    height: 456px;
    background: white;
    border-radius: 22px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.main-area {
    position: absolute;
    top: 300px;
    width: 97%;
    height: 60%;
    left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel-container {
    position: relative;
    width: 750px;
    height: 750px;
}

.wheel-img {
    width: 100%;
    height: 100%;
    display: block;
}

.place-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    /* pointer-events: none; */
}

.spin-center {
    width: 200px;
    cursor: pointer;
}

.white-circle{
    background: white;
    width: 92%;
    height: 92%;
    border-radius: 50%;
}

.wheel {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 3s cubic-bezier(0.17, 0.67, 0.12, 0.99);
}

.slice {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  border-left: 3px solid #cfcfcf;
}

.slice img {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 18%;
  left: 22%;
  transform: translate(-50%, -50%);
}
