<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: easyscreen.html
  Description: easy screen view
  Created On: 11/Dec/2025
  ------------------------------------------------------------
-->

<div id="easy-screen">
  <!-- TOP BANNER -->
  <div class="top-banner">
    <span>Adjust the lines to form parallel or Perpendicular positions and observe the changing angles.</span>
    <div class="sound-wrapper">
      <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="content-area">

    <!-- LEFT WORK AREA -->
    <div class="work-area">

      <!-- GRID CANVAS -->
      <div class="grid-board" id="gridBoard">
        <!-- PLACE YOUR CANVAS / SVG HERE -->
        <div class="grid-overlay"></div>

        <!-- PAPER STYLE -->
        <div class="paper-style">
          <span style="font-size: 24px; font-weight: 900;">Paper Style</span>
          <div>
            <label><input type="checkbox" name="paperStyle" value="grid" checked/> Grid</label>
            <label><input type="checkbox" name="paperStyle" value="dots"/> Dots</label>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT CONTROL PANEL -->
    <div class="control-panel">
      <!-- PARALLEL LINES -->
      <div class="panel-section">
        <div class="panel-title">
          <div class="icon-img"></div>
          <span>Parallel Lines</span>
          <input type="checkbox" />
        </div>
      </div>

      <!-- ANGLES -->
      <div class="panel-section" style="height: 73%;">
        <div class="panel-title">
          <div class="icon-img"></div>
          <span>Angles</span>
        </div>

        <div class="angle-group">
          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Corresponding
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 1
            </label>

            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>

            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 3
            </label>

            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 4
            </label>
          </div>

          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Vertically Opposite
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 1
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 3
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 4
            </label>
          </div>

          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Alternate Interior
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
          </div>

          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Alternate Exterior
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 1
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- BOTTOM RIGHT BUTTONS -->
  <div class="bottom-right-buttons">
    <div id="easyResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
    <div id="easyNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
  </div>
</div>