<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: easyscreen.html
  Description: easy screen view
  Created On: 11/Dec/2025
  ------------------------------------------------------------
-->

<div id="easy-screen">
  <!-- TOP BANNER -->
  <div class="top-banner">
    <span>Adjust the lines to form parallel or Perpendicular positions and observe the changing angles.</span>
    <div class="sound-wrapper">
      <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="content-area">
    <!-- LEFT WORK AREA -->
    <div class="work-area">
      <!-- GRID CANVAS -->
      <div class="grid-board" id="gridBoard">
        <div class="grid-overlay">
          <div style="position: relative; top: 19px">
            <svg id="angleCanvas" viewBox="0 0 1000 450" preserveAspectRatio="xMidYMid meet">
              <defs>
                <!-- Arrow Head -->
                <marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="6" markerHeight="6"
                  orient="auto-start-reverse">
                  <path d="M 0 0 L 10 5 L 0 10 z" fill="#2c2c2c" />
                </marker>
              </defs>
              <!-- PARALLEL LINES (CENTERED) -->
              <line x1="80" y1="190" x2="920" y2="190" class="parallel-line" marker-start="url(#arrow)"
                marker-end="url(#arrow)" />
              <line x1="80" y1="290" x2="920" y2="290" class="parallel-line" marker-start="url(#arrow)"
                marker-end="url(#arrow)" />
              <!-- TRANSVERSAL -->
              <line id="transversal" x1="450" y1="400" x2="550" y2="50" class="transversal-line"
                marker-start="url(#arrow)" marker-end="url(#arrow)" />
              <!-- INTERSECTIONS -->
              <g id="topIntersection"></g>
              <g id="bottomIntersection"></g>
            </svg>
          </div>
        </div>
        <!-- PAPER STYLE -->
        <div class="paper-style">
          <div class="disp-flex-row">
            <img src="assets/images/doitscreen/copy.svg" style="width: 20px;">
            <span style="font-size: 24px; font-weight: 900;">Paper Style</span>
          </div>
          <div class="disp-flex-row">
            <label class="custom-option" for="grid">
              <input type="radio" name="paperType" id="grid" checked />
              <span class="custom-box"></span>
              <span class="option-text">Grid</span>
            </label>
            <label class="custom-option" for="dots">
              <input type="radio" name="paperType" id="dots" />
              <span class="custom-box"></span>
              <span class="option-text">Dots</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT CONTROL PANEL -->
    <div class="control-panel">
      <!-- PARALLEL LINES -->
      <div class="panel-section">
        <div class="panel-title">
          <div class="icon-img"></div>
          <span>Parallel Lines</span>
          <input type="checkbox" />
        </div>
      </div>

      <!-- ANGLES -->
      <div class="panel-section" style="height: 73%;">
        <div class="panel-title">
          <div class="icon-img"><img src="assets/images/easyscreen/angle.svg" style="width: 90%;"></div>
          <span>Angles</span>
        </div>

        <div class="angle-group">
          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Corresponding
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 1
            </label>

            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>

            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 3
            </label>

            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 4
            </label>
          </div>

          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Vertically Opposite
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 1
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 3
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 4
            </label>
          </div>

          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Alternate Interior
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
          </div>

          <label class="ui-check heading-txt">
            <input type="checkbox" />
            <span class="checkmark"></span>
            Alternate Exterior
          </label>

          <div class="radio-row">
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 1
            </label>
            <label class="ui-radio chkbox-txt">
              <input type="radio" name="corr" />
              <span class="radiomark"></span>
              Pair 2
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BOTTOM RIGHT BUTTONS -->
  <div class="bottom-right-buttons">
    <div id="easyResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
    <div id="easyNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
  </div>
</div>