* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Raleway'; }
.content-area {
  position: absolute;
  top: 180px;
  width: 97%;
  left: 28px;
  height: 820px;
  display: flex;
  justify-content: space-between;
}
