* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Raleway'; }

/* MAIN LAYOUT */
.content-area {
  position: absolute;
  top: 180px;
  width: 97%;
  left: 28px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  height: calc(100% - 200px);
}

.grid-board {
  background: #fff;
  border-radius: 18px;
  height: 81%;
  width: 100%;
  margin-top: 53px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: repeat;
}

.paper-style {
  position: absolute;
  bottom: 12px;
  right: 14px;
  background: rgba(255,255,255,0.9);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.line-img {
  width: 37%;
  left: 37%;
  position: relative;
}

.user-action {
  position: absolute;
  top: 19px;
  right: 16px;
  background: rgba(255,255,255,0.9);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 2px solid grey;
}


/* Custom Checkbox */
.option-card {
  position: absolute;
  top: 22px;
  left: 22px;
  display: inline-block;
  padding: 4px 18px;
  border: 2px solid #bdbdbd;
  border-radius: 14px;
  background: #fff;
  font-family: Arial, sans-serif;
}

/* Each row */
.custom-option {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 13px 0;
  cursor: pointer;
}

/* Hide native radio */
.custom-option input {
  display: none;
}

/* Custom square box */
.custom-box {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  border: 2px solid grey;
  background: #fff;
  position: relative;
  box-sizing: border-box;
}

/* Checked state */
.custom-option input:checked + .custom-box {
  background: #000;
  border-color: #000;
}

/* Tick mark */
.custom-option input:checked + .custom-box::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Text */
.option-text {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
