<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: doitscreen.html
  Description: Do it yourself screen view
  Created On: 03/Dec/2025
  ------------------------------------------------------------
-->

<div id="doit-screen">
    <!-- TOP HEADING BAR -->
    <div class="top-banner">
        <span>Use the drawing tools to create a line that matches the given condition - parallel or perpendicular to the
            line shown.</span>
        <div class="sound-wrapper">
            <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
        </div>
    </div>


    <!-- MAIN CONTENT -->
    <div class="content-area">
        <!-- GRID CANVAS -->
        <div class="grid-board" id="gridBoard">
            <!-- PLACE YOUR CANVAS / SVG HERE -->
            <div class="grid-overlay">
                <img src="assets/images/doitscreen/line.svg" class="line-img" id="lineImg">
            </div>
            <!-- SVG drawing layer -->
            <svg id="drawSvg" width="100%" height="100%" style="position:absolute; inset:0;">
                <!-- user drawn line -->
                <line id="userLine"
                    x1="0" y1="0" x2="0" y2="0"
                    stroke="red"
                    stroke-width="6"
                    stroke-linecap="round"
                    visibility="hidden"/>
            </svg>
            <!-- Line options -->
            <div class="option-card">
                <label class="custom-option" for="perpendicular">
                    <input type="radio" name="lineType" id="perpendicular" checked />
                    <span class="custom-box"></span>
                    <span class="option-text">Perpendicular Line</span>
                </label>
                <label class="custom-option" for="parallel">
                    <input type="radio" name="lineType" id="parallel"/>
                    <span class="custom-box"></span>
                    <span class="option-text">Parallel Line</span>
                </label>
            </div>
            <!-- User action buttons -->
            <div class="user-action">
                <div id="pencilBtn" class="btn"><img src="assets/images/doitscreen/pencil.svg" style="width: 65px;"></div>
                <div id="deleteBtn" class="btn"><img src="assets/images/doitscreen/delete.svg" style="width: 65px;"></div>
            </div>

            <!-- PAPER STYLE -->
            <div class="paper-style">
                <div class="disp-flex-row">
                    <img src="assets/images/doitscreen/copy.svg" style="width: 20px;">
                    <span style="font-size: 24px; font-weight: 900;">Paper Style</span>
                </div>
                <div class="disp-flex-row">
                    <label class="custom-option" for="grid">
                        <input type="radio" name="paperType" id="grid" checked />
                        <span class="custom-box"></span>
                        <span class="option-text">Grid</span>
                    </label>
                    <label class="custom-option" for="dots">
                        <input type="radio" name="paperType" id="dots"/>
                        <span class="custom-box"></span>
                        <span class="option-text">Dots</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- BOTTOM RIGHT BUTTONS -->
    <div class="bottom-right-buttons">
        <div id="doitInfoBtn"><img src="assets/images/doitscreen/info.svg" style="width: 90px;"></div>
        <div id="doitNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
        <div><img id="doitResetBtn" src="assets/images/common/reset.svg" style="width: 90px;"></div>
    </div>
</div>