<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: doitscreen.html
  Description: Do it yourself screen view
  Created On: 03/Dec/2025
  ------------------------------------------------------------
-->

<div id="doit-screen">
    <!-- TOP HEADING BAR -->
    <div class="top-banner">
        <span>Use the drawing tools to create a line that matches the given condition - parallel or perpendicular to the line shown.</span>
        <div class="sound-wrapper">
        <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
        </div>
    </div>

    <!-- BOTTOM RIGHT BUTTONS -->
    <div class="bottom-right-buttons">
        <div id="easyResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
        <div id="easyNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
        <div><img id="resetBtn" src="assets/images/common/reset.svg" style="width: 90px;"></div>
    </div>
</div>