* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Raleway'; }

/* MAIN LAYOUT */
.content-area {
  position: absolute;
  top: 180px;
  width: 97%;
  left: 28px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  height: calc(100% - 200px);
}

.grid-board {
  background: #fff;
  border-radius: 18px;
  height: 81%;
  width: 100%;
  margin-top: 53px;
  position: relative;
  overflow: hidden;
  background-size: 107%;
  background-position-x: -64px;
  background-repeat: repeat;
}

.line-img {
  width: 37%;
  left: 37%;
  position: relative;
}

.user-action {
  position: absolute;
  top: 19px;
  right: 16px;
  background: rgba(255,255,255,0.9);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 2px solid grey;
}

.disclaimer-box {
  background: white;
  width: 67%;
  height: 86px;
  border-radius: 44px;
  position: absolute;
  bottom: 39px;
  left: 9%;
  font-size: 30px;
  padding: 10px 37px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.disclaimer-box.show {
  opacity: 1;
  pointer-events: auto;
}
